@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #16a34a;
}
* {
    cursor: none;
}
.bg-primary{
    background-color: var(--color-primary);
}

.text-primary{
    color: var(--color-primary);
}